html{
  background-image: url("Terrazzo.jpg");
  background-size: cover;
  font-family: 'Cabin', Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 17px;  
  overflow: hidden;
  margin:0;
  
}

body{
 margin:0;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 height:100vmax;
 width: 100vmin;
 
}

.mainContainer{
  opacity: 0.9;
  margin:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* height:90vmax; 
  width:90vmin; */
 
  justify-content:space-around;


  background-color: #fbf8e5;
  
  padding:0.4rem 1rem 0.4rem 1rem;
  border-radius: 1rem;
}



h2{
  font-size: 1.1rem;
  color:#727272;

}

p, a{
  
  font-size: 1.1rem;
  color:#727272; 
 

}
.centre{
  text-align: center;
}

.justify{
  text-align: justify;
}


p{
  width:90%;

}
a{
  text-decoration: none;
  /* background-color: #a64c36;  */
  color:#fbf8e5;
  background-color:#c16f30;
  padding:0.4rem;
  border-radius: 1rem;
  margin:0.5rem;
}
a:hover{
  /* background-color:#da8975;  */
  background-color: #727272;
  color:#fbf8e5;
  transition: 1s;
}

.linkBox{
  display:flex;
  width: auto;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 380px) and (orientation:portrait) {
  html{
    font-size: 19px;
  }
 
}

@media screen and (min-width: 700px)and (orientation:portrait) {
  html{
    font-size: 30px;
  }

 
}

@media screen and (orientation:landscape) {
 
  html{
    font-size: 16px;
    background-image: url(TerrazzoLS.jpeg);
    background-size: cover;
  }
  body{
    width:100vmax;
 height: 100vmin;
  }

  .mainContainer{
    width:70%;
    height:70%;
  }

  .linkBox{
    flex-direction: row;
  }
  /* .mainContainer{
  border-style: dashed;
  width: 30rem;
  max-width: 100%;
  margin: auto auto auto auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:95vmin;
  justify-content:center;
  } */
}

@media screen and (orientation:landscape) and (min-width: 720px){
  html{
    font-size: 20px;
  }
}

@media screen and (orientation:landscape) and (min-width: 1000px){
  html{
    font-size: 25px;
  }
}

/* @media screen and (orientation:landscape) and (min-width: 1200px){
  html{
    font-size: 30px;
  }
} */