html{
  background-image: url("Terrazzo.jpg");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;  
}

body{
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height:100vmax;
}

.mainContainer{

 
  display:flex;
  flex-direction: column;
  align-items: center;
  height:80%; 
  justify-content:space-between;
}

h2{
  font-size: 1.1rem;
  color:#a64c36; 
}

p, a{
  font-size: 1.1rem;
  color:#a64c36; 
  text-align: justify;
}

a{
  color:white;
}

p{
  width:90%;
}
a{
  text-decoration: none;
  background-color: #a64c36; 
  padding:0.7rem;
  border-radius: 1rem;
}
a:hover{
  background-color:#da8975; 

  transition: 1s;
}

.linkBox{
  display:flex;
  width: 23rem;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 380px) and (orientation:portrait) {
  html{
    font-size: 20px;
  }
}

@media screen and (min-width: 700px)and (orientation:portrait) {
  html{
    font-size: 30px;
  }
}

@media screen and (orientation:landscape) {
 
  html{
    font-size: 13px;
    background-image: url(TerrazzoLS.jpg);
    background-size: cover;
  }
  body{
    height: 100vmin;
  }

  .mainContainer{
    width:70%
  }

  .linkBox{
    flex-direction: row;
  }
  /* .mainContainer{
  border-style: dashed;
  width: 30rem;
  max-width: 100%;
  margin: auto auto auto auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:95vmin;
  justify-content:center;
  } */
}

@media screen and (orientation:landscape) and (min-width: 720px){
  html{
    font-size: 15px;
  }
}

@media screen and (orientation:landscape) and (min-width: 1000px){
  html{
    font-size: 25px;
  }
}

/* @media screen and (orientation:landscape) and (min-width: 1200px){
  html{
    font-size: 30px;
  }
} */