html{
  overflow-x: hidden;
  /* font-family: 'Cabin', Verdana, Geneva, Tahoma, sans-serif;   */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

body{
  margin: 0;
}

p, a{
  /* border-style: solid; */
  color: rgb(221, 124, 140);
  white-space: nowrap;
   line-height: 0; 
}

a{
  text-decoration: none;
  
}

i{
  margin-right: 2rem;
  font-size: 1.2rem;
}

i.smaller{
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

a:hover{
  /* background-color: #727272; */
  color:#727272;
  transition: 1s;
}

.imageContainer{
  background-color: rgb(51, 22, 83);
  width: 100vmin;
  height: 100vmax; 
  position:fixed;
}

.imageJail{
  width: 100vmin;
  height: 100vmax;
}

.seeThrough{
  opacity: 0.7; 
}

img.cabinetFood{    
  object-fit: cover;
  width: 100%;
  height: 100%;
 
   display:none;
}

img.storeFront{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.titleBox{
  position:absolute;
  object-fit: contain;
  left:0;
  top:0;
  width:97vmin;
  height:100vmax;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title{
  object-fit: contain;  
  width:80%;  
}

.front{
  opacity: 1;
}

.blocker{
  height: 100vmax;
  background-color: transparent;
}
.infoBox{
  background-color: #ebebeb;  
  height: 30vmax;
  width:100vmin;
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.info{    
  height: 100%; 
  display:flex;  
  flex-direction: column; 
  justify-content: space-evenly;
}

/* .openingHours{
  border-style: dashed;
} */

.contact{      
  display:none;  
}

.interiorImage{  
  
  background-image: url("cafe1.jpg");
  background-attachment: fixed;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30vmax;
  height: 70vmax;
  width:100vmin;
  position:absolute;
}



.secondIconBox{
  
  font-size: 2rem;
  margin-top: 70vmax;
  position:absolute;
  height: 29vmax;
  margin-left: 86vmin;
  width: 10vmin;
  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a.otherLink{
  /* color:rgb(44, 37, 37); */
  color: #ebebeb;
  /* margin:0; */
}

@media screen and (orientation: landscape) {
  
html{
  font-size: 3.5vmin;
}

  .imageContainer{
    height: 100vmin;
    width: 100vmax;
    display:flex;
    flex-direction: row;
    
  }

  .contact{    
    display:flex;    
    flex-direction: column;
    width: 18.5rem; 
    height: 30vmin; 
    justify-content: space-evenly;
  }

  .titleBox{
    width:97vmax;
    height:100vmin;
  }

  .title{
    height:80%;
  }

  .imageJail{
    width:50vmax;
    height:100vmin;
  }

  img.cabinetFood{
    display:inline;
  } 

  .blocker{
    height: 100vmin;    
  }

  .infoBox{  
    height: 30vmin;
    width:100vmax;
    flex-direction: row;
  }

  .interiorImage{
    background-image: url("cafe1.jpg");
    background-attachment: fixed;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30vmin;
    height: 70vmin;
    width:100vmax;
    position:absolute;

  }

  .secondIconBox{
  display:none;
  }
}